<a href="http://localhost:8000/#/customers">Customers</a>
<a href="http://localhost:8000/#/invoices">Invoices</a>
<div style="font-size: large; margin-top: 5%; margin-left: 10%">
    <p>
        <span ng-bind="'manage_products'"></span>
    </p>
</div>
<table class="table table-striped" align="center" style="width: 80%;">
    <thead>
    <tr>
        <th> <span>name</span> </th>
        <th> <span>price</span> </th>
        <th> <span>actions</span> </th>
    </tr>
    </thead>
    <tbody ng-repeat="item in collection">

    <tr>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>
            <button data-toggle="modal" data-target="#createProduct" type="button" class="btn btn-info" ng-click="tempProduct.id = item.id; tempProduct.name = item.name; tempProduct.price = item.price; tempProduct.edit = true;">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="removeProduct($index, item.id)">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
        </td>
    </tr>

    </tbody>
</table>

<button data-toggle="modal" data-target="#createProduct" style="float: right; margin-right: 5%; width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 25px;"
        type="button" class="btn btn-success btn-circle btn-xl" ng-click="tempProduct.name = ''; tempProduct.price = ''; tempProduct.edit = false;" ><i class="glyphicon glyphicon-plus"></i></button>

<!-- Modal -->
<div id="createProduct" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p><span ng-bind="'create'"></span> </p>
                <label for="name">
                    <span ng-bind="'name'"></span>
                </label>
                <div>
                    <input ng-model="tempProduct.name" type="text" class="form-control" id="name" placeholder="{{'enter_name'}}" name="name" required>
                </div>
                <br>
                <label for="price">
                    <span ng-bind="'price'"></span>
                </label>
                <div>
                    <input ng-model="tempProduct.price" type="text" class="form-control" id="price" placeholder="{{'enter_price'}}" name="price" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span ng-bind="'close'"></span></button>
                <button ng-if="!tempProduct.edit" type="button" class="btn btn-default" data-dismiss="modal" ng-click="addProduct()"><span ng-bind="'add'"></span></button>
                <button ng-if="tempProduct.edit" type="button" class="btn btn-default" data-dismiss="modal" ng-click="editProduct()"><span ng-bind="'edit'"></span></button>
            </div>
        </div>

    </div>
</div>